
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/students">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="navbar-brand" routerLink="/regform">Registration</a>      </li>
      <li class="nav-item" [hidden]="buttonDisable">
        <a class="navbar-brand" routerLink="/login">Registration</a>      </li>

    </ul>

  </div>
</nav>
<!--
<button (click)="OpenFormPage()">Registration</button>

<button  (click)="OpenLoginPage()">LogIn</button>
-->

  <!--<app-students *ngIf="router.url=='/'"></app-students>-->

<router-outlet></router-outlet>


