<div>
  <h2 style="color: dodgerblue; text-align: center">Student Details</h2>
<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th scope="col">studentId</th>
    <th scope="col">StudentName</th>
    <th scope="col" colspan="3">Address</th>
    <th scope="col" colspan="2">Modification</th>
  </tr>
  </thead>
  <tbody *ngFor="let std of student">
  <tr>
    <td>{{std.sid}}</td>
    <td>{{std.sname}}</td>
    <td>{{std.address.dist}}</td>
    <td>{{std.address.state}}</td>

    <td>{{std.address.zip}}</td>
    <td><button (click)="viewDetail(std.sid)">view</button></td>
    <td><button id="btn" (click)="editPage(std.sid)">edit</button></td>
  </tr>
  </tbody>
</table>
</div>
<br>


<div>
  <app-marks-detail [marks]="marksArray"></app-marks-detail>
</div>
